<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/sidebar_style.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/shared_style.css') }}" />
    <title>UFW</title>
</head>
<body>
    <div class="flex_site">
        <div class="sidebar">
            {% include 'shared/sidebar.html' %}
        </div>
        <div class="main_site">
            {% if status == 156 %}
        <p>Az UFW szolgáltatás nincs telepítve.</p>

        <form id="installufwForm" class="hidden" action="/service/install" method="post">
            <input type="hidden" name="form_id" value="ufw">
            <input type="submit" value="Telepítés">
        </form>
        

    {% else %}
        <p>Az UFW szolgáltatás telepítve van.</p>
        <form action="/service/remove" method="post">
            <input type="hidden" name="form_id" value="ufw">

            <p>Az eltávolításhoz kattintson az "Eltávolítás" gombra!</p>

            <button type="submit">Eltávolítás</button>
        </form>
        {% if status == 157 %}
            <p>Az UFW szolgáltatás státusza: Aktív</p>
        {% else %}
            {% if status == 158 %}
                <p>Az UFW szolgáltatás státusza: Inaktív</p>
            {% else %}
                {% if status == 159 %}
                    <p>Az UFW szolgáltatás státusza: Hiba</p>
                {% else %}
                    <p>Az UFW szolgáltatás státusza: Ismeretlen</p>
                {% endif %}
            {% endif %}
        {% endif %}

        {% if status == 157 %}
        <form action="/service/status" method="post">
            <input type="hidden" name="form_id" value="ufw">

            <input type="radio" id="restart" name="startstop" value="restart">
            <label for="restart">Újraindítás</label><br>
    
            <input type="radio" id="stop" name="startstop" value="stop">
            <label for="stop">Leállítás</label><br>

            <button type="submit">Küldés</button>
        </form>
        {% else %}
        <form action="/service/status" method="post">
            <input type="hidden" name="form_id" value="ufw">

            <input type="radio" id="restart" name="startstop" value="restart">
            <label for="restart">Újraindítás</label><br>
    
            <button type="submit">Küldés</button>
        </form>
        {% endif %}
        <br>
        <p>A tűzfal állapota: {% if status2 == 158 %} Kikapcsolt {% else %} {% if status2 == 157 %} Bekapcsolt {% else %} Ismeretlen {% endif %}{% endif %}</p>
        {% if status2 == 158 %}
        <form action="/service/status" method="post">
            <input type="hidden" name="form_id" value="ufw2">

            <input type="radio" id="start2" name="startstop" value="start">
            <label for="start2">Bekapcsolás</label><br>

            <button type="submit">Küldés</button>
        </form>
        {% else %}
            {% if status2 == 157 %}
            <form action="/service/status" method="post">
                <input type="hidden" name="form_id" value="ufw2">
    
                <input type="radio" id="stop2" name="startstop" value="stop">
                <label for="stop2">Leállítás</label><br>
        
                <input type="radio" id="reload2" name="startstop" value="reload">
                <label for="reload2">Újratöltés</label><br>
    
                <button type="submit">Küldés</button>
            </form>
            {% endif %}
        {% endif %}

        <h1>Konfiguráció</h1>
        <h2>Alapértelmezett beállítások</h2>
        <p>Bejövő adatforgalom:</p>
        <form action="/service/modify" method="post">
            <input type="hidden" name="form_id" value="ufw-incoming-policy">

            <input type="radio" id="deny-default" name="incoming-policy" value="deny" {% if indefault == "deny" %} checked {% endif %}>
            <label for="deny-default">Összes tiltása</label><br>
    
            <input type="radio" id="allow-default" name="incoming-policy" value="allow" {% if indefault == "allow" %} checked {% endif %}>
            <label for="allow-default">Összes engedélyezése</label><br>

            <button type="submit">Küldés</button>
        </form>
        <br>
        <p>Kimenő adatforgalom:</p>
        <form action="/service/modify" method="post">
            <input type="hidden" name="form_id" value="ufw-outgoing-policy">

            <input type="radio" id="deny-default2" name="outgoing-policy" value="deny" {% if outdefault == "deny" %} checked {% endif %}>
            <label for="deny-default2">Összes tiltása</label><br>
    
            <input type="radio" id="allow-default2" name="outgoing-policy" value="allow" {% if outdefault == "allow" %} checked {% endif %}>
            <label for="allow-default2">Összes engedélyezése</label><br>
            <button type="submit">Küldés</button>
        </form>
        {% if status2 == 157 %}
            <h2>Szabályok</h2>
            <table>
                <tr class="table-title">
                    <th>To</th>
                    <th>Action</th>
                    <th>From</th>
                </tr>
                <form id="deleteufwrulesForm" action="/service/modify" method="post">
                    <input type="hidden" name="form_id" value="ufw-delete-rules">
                    {% for i in rules %}
                        {% if (loop.index-1) % 3 == 0 %}
                            </tr><tr>
                            <td>{{ i }}</td>
                        {% else %}
                            <td>{{ i }}</td>
                        {% endif %}
                
                        {% if loop.index % 3 == 0 or loop.last %}
                            <td><button name="delete-rule-button" value="{{ rules[loop.index0 - (loop.index % 3) - 2] }} {{ rules[loop.index0 - (loop.index % 3) - 1] }} {{ rules[loop.index0 - (loop.index % 3)] }}">Törlés</button></td>
                        {% endif %}
                    {% endfor %}
                </form>
            </table>    
        {% endif %}
        <h2>Új szabály létrehozása</h2>
        <form id="addufwrulesForm" action="/service/modify" method="post">
            <input type="hidden" name="form_id" value="ufw-add-rules">
            <table>
                <tr class="table-title">
                    <th>Engedélyezés/Tiltás</th>
                    <th>Ki menő/Be menő</th>
                    <th>Adapter</th>
                    <th>Honnan</th>
                    <th>Hova</th>
                    <th>Port</th>
                    <th>Protokol</th>
                </tr>
                <tr>
                    <td>
                        <select name="action" id="action">
                            <option value="allow">Allow</option>
                            <option value="deny">Deny</option>
                        </select>
                    </td>
                    <td>
                        <select name="direction" id="direction">
                            <option value="in">in</option>
                            <option value="out">out</option>
                        </select>
                    </td>
                    <td>
                        <select name="adapter" id="adapter">
                            <option value="any">any</option>
                            {% for i in adapters %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <input type="text" name="from" pattern="([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3})|([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}/[0-9]{1,2})|(any)" required>
                    </td>
                    <td>
                        <input type="text" name="to" pattern="([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3})|([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}/[0-9]{1,2})|(any)" required>
                    </td>
                    <td>
                        <input type="text" name="port" pattern="([0-9]{1,5})|([0-9]{1,5}:[0-9]{1,5})|(any)" required>
                    </td>
                    <td>
                        <select name="proto" id="proto">
                            <option value="tcp">tcp</option>
                            <option value="udp">udp</option>
                        </select>
                    </td>
                    <td>
                        <button type="submit">Küldés</button>
                    </td>
                </tr>
            </table>
        </form>

        <h2>Alkalmazás hozzáadása</h2>
        <form id="addufwappForm" action="/service/modify" method="post">
            <input type="hidden" name="form_id" value="ufw-add-app">
            <select name="app" id="app">
                {% for i in apps %}
                    <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select>
            <button type="submit">Küldés</button>
        </form>
        {% endif %}
        </div>
    </div>
</body>
</html>