<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/shared_style.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/sidebar_style.css') }}" />
    <title>Samba csoport módosítás</title>
</head>
<body>
    <div class="flex_site">
        <div class="sidebar">
        {% include 'shared/sidebar.html' %}
        </div>
        <div class="main_site">
            <h1>{{groupname}} csoport módosítása</h1>
            <form id="modifysambagroupForm" action="/service/modify" method="post">
                <input type="hidden" name="form_id" value="samba-modify-group">
                <input type="hidden" name="group-name" value="{{ groupname }}">
                {% for i in sambausers %}
                    <input type="checkbox" name="user-{{i}}" id="user-{{i}}" value="{{ i }}" {% if i in groupusers %} checked {% endif %}>
                    <label for="user-{{ i }}">{{ i }}</label>
                    <br>
                {% endfor %}
                <button type="submit">Küldés</button>
            </form>
        </div>
</body>
</html>