<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/samba_style.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/sidebar_style.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/shared_style.css') }}" />
    
    <title>Samba</title>
</head>
<body>
    <div class="flex_site">
        <div class="sidebar">
            {% include 'shared/sidebar.html' %}
        </div>
        <div class="main_site">

            {% if status == 156 %}
                <p>A Samba kiszolgáló nincs telepítve.</p>
                <form id="installsambaForm" action="/service/install" method="post">
                    <input type="hidden" name="form_id" value="samba">
                    <input type="submit" value="Telepítés">
                </form>
            {% else %}
                <p>A Samba kiszolgáló telepítve van.</p>
                <form action="/service/remove" method="post">
                    <input type="hidden" name="form_id" value="samba">

                    <p>Az eltávolításhoz kattintson az "Eltávolítás" gombra!</p>

                    <button type="submit">Eltávolítás</button>
                </form>

                {% if status == 157 %}
                    <p>A Samba kiszolgáló státusza: Aktív</p>
                {% else %}
                    {% if status == 158 %}
                        <p>A Samba kiszolgáló státusza: Inaktív</p>
                    {% else %}
                        {% if status == 159 %}
                            <p>A Samba kiszolgáló státusza: Hiba</p>
                        {% else %}
                            <p>A Samba kiszolgáló státusza: Ismeretlen</p>
                        {% endif %}
                    {% endif %}
                {% endif %}


                {% if status == 157 %}
                    <form action="/service/status" method="post">
                        <input type="hidden" name="form_id" value="samba">
    
                        <input type="radio" id="restart" name="startstop" value="restart">
                        <label for="restart">Újraindítás</label><br>
        
                        <input type="radio" id="stop" name="startstop" value="stop">
                        <label for="stop">Leállítás</label><br>
    
                        <button type="submit">Küldés</button>
                    </form>
                {% else %}
                    <form action="/service/status" method="post">
                        <input type="hidden" name="form_id" value="samba">
    
                        <input type="radio" id="restart" name="startstop" value="restart">
                        <label for="restart">Újraindítás</label><br>
        
                        <button type="submit">Küldés</button>
                    </form>
                {% endif %}
                <h1>Konfiguráció</h1>
                <h2>Global Konfiguráció</h2>
                <form id="modifysambaglobalForm" action="/service/modify" method="post">
                    <input type="hidden" name="form_id" value="samba-global">
                    <table>
                        <tr>
                            <td class="table-title">Workgroup</td>
                            <td class="global-config-table"><input type="text" value="{{globalconfig[0]}}" name="workgroup" id="workgroup" required></td>
                        </tr>
                        <tr>
                            <td class="table-title">Netbios name</td>
                            <td class="global-config-table"><input type="text" value="{{globalconfig[1]}}" name="netbios-name" id="netbios-name" required></td>
                        </tr>
                        <tr>
                            <td class="table-title">Map to guest</td>
                            <td class="global-config-table">
                                <input type="radio" id="bad-user" name="map-to-guest" value="bad_user" {% if globalconfig[2] == "bad user" %} checked {% endif %}>
                                <label for="bad-user">Bad user</label>
                                <br>
                                <input type="radio" id="never" name="map-to-guest" value="never" {% if globalconfig[2] == "never" %} checked {% endif %}>
                                <label for="never">Never</label>
                                <br>
                                <input type="radio" id="bad-passwd" name="map-to-guest" value="bad_passwd" {% if globalconfig[2] == "bad password" %} checked {% endif %}>
                                <label for="bad-passwd">Bad password</label>
                                <br>
                                <input type="radio" id="mtg-not-configured" name="map-to-guest" value="not_configured" {% if globalconfig[2] == "not configured" %} checked {% endif %}>
                                <label for="mtg-not-configured">Not configured</label>
                            </td>
                        </tr>
                        <tr>
                            <td class="table-title">Usershare allow guests</td>
                            <td class="global-config-table">
                                <input type="radio" id="yes-usershare-allow-guests" name="usershare-allow-guests" value="yes" {% if globalconfig[3] == "yes" %} checked {% endif %}>
                                <label for="yes-usershare-allow-guests">Igen</label>
                                <br>
                                <input type="radio" id="no-usershare-allow-guests" name="usershare-allow-guests" value="no" {% if globalconfig[3] == "no" %} checked {% endif %}>
                                <label for="no-usershare-allow-guests">Nem</label>
                                <br>
                                <input type="radio" id="uag-not-configured" name="usershare-allow-guests" value="not_configured" {% if globalconfig[3] == "not configured" %} checked {% endif %}>
                                <label for="uag-not-configured">Not configured</label>
                            </td>
                        </tr>
                        <tr>
                            <td class="table-title">Security</td>
                            <td class="global-config-table">
                                <input type="radio" id="user" name="security" value="user" {% if globalconfig[4] == "user" %} checked {% endif %}>
                                <label for="user">User</label>
                                <br>
                                <input type="radio" id="share" name="security" value="share" {% if globalconfig[4] == "share" %} checked {% endif %}>
                                <label for="share">Share</label>
                                <br>
                                <input type="radio" id="s-not-configured" name="security" value="not_configured" {% if globalconfig[4] == "not configured" %} checked {% endif %}>
                                <label for="s-not-configured">Not configured</label>
                            </td>
                        </tr>
                        <tr>
                            <td class="table-title">Public</td>
                            <td class="global-config-table">
                                <input type="radio" id="yes-public" name="public" value="yes" {% if globalconfig[5] == "yes" %} checked {% endif %}>
                                <label for="yes-public">Igen</label>
                                <br>
                                <input type="radio" id="no-public" name="public" value="no" {% if globalconfig[5] == "no" %} checked {% endif %}>
                                <label for="no-public">Nem</label>
                                <br>
                                <input type="radio" id="p-not-configured" name="public" value="not_configured" {% if globalconfig[5] == "not configured" %} checked {% endif %}>
                                <label for="p-not-configured">Not configured</label>
                            </td>
                        </tr>
                    </table>
                    <button type="submit">Küldés</button>
                </form>

                <h2>Megosztások</h2>
                <h3>Felhasználó nélküli megosztások</h3>

                <form id="modifysambashareForm" action="/service/modify" method="post">
                <input type="hidden" name="form_id" value="samba-nobody-share-check">
                <table>
                    <tr class="table-title">
                        <th>Megosztás neve</th>
                        <th>Mappa</th>
                        <th>Mappa jog</th>
                        <th>Mappa tulaj</th>
                        <th>Mappa csoport</th>
                        <th>Komment</th>
                        <th>Read only</th>
                        <th>Writable</th>
                        <th>Guest ok</th>
                        <th>Guest only</th>
                        <th>Browsable</th>
                        <th>Public</th>
                        <th>Create mask</th>
                        <th>Directory mask</th>
                        <th>Force user</th>
                        <th>Force group</th>
                        <th>Hide dot files</th>
                
                {% for i in nobodyconfig %}
                    {% if (loop.index0) % 17 == 0 %}
                        </tr><tr>
                            <td>{{ i }}</td>
                    {% else %}
                            <td>{{ i }}</td>
                    {% endif %}

                    {% if loop.index % 17 == 0 or loop.last %}
                        <td><button name="modify-samba-share-button" id="modifysambashare{{ nobodyconfig[loop.index0 - (loop.index % 17) - 16] }}Button" value="modify_samba_share_{{ nobodyconfig[loop.index0 - (loop.index % 17) - 16] }}_Button">Módosítás</button></td>
                        <td><button name="delete-samba-share-button" id="deletesambashare{{ nobodyconfig[loop.index0 - (loop.index % 17) - 16] }}Button" value="delete_samba_share_{{ nobodyconfig[loop.index0 - (loop.index % 17) - 16] }}_Button">Törlés</button></td>
                        <td>
                            <input type="radio" id="nodelete_{{ nobodyconfig[loop.index0 - (loop.index % 17) - 16] }}" name="dir-delete" value="no"><label for="nodelete_{{ nobodyconfig[loop.index0 - (loop.index % 17) - 16] }}">Mappa megtartása</label><br>
                            <input type="radio" id="delete_{{ nobodyconfig[loop.index0 - (loop.index % 17) - 16] }}" name="dir-delete" value="yes"><label for="delete_{{ nobodyconfig[loop.index0 - (loop.index % 17) - 16] }}">Mappa törlése</label>
                        </td> 
                    {% endif %}
                {% endfor %}
                </form>
                </table>

                <form id="addsambanobodyshareForm" action="/service/add" method="post">
                    <input type="hidden" name="form_id" value="samba-nobody-share-redirect">
                    <button type="submit">Új megosztás</button>
                </form>

                <h3>Egy felhasználós megosztások</h3>
                <h3>Több felhasználós megosztások</h3>

                <h2>Felhasználók kezelése</h2>
                <form id="modifysambausersForm" action="/samba/users" method="post">
                    <!--<input type="hidden" name="form_id" value="samba-users-check">-->
                    <p>A felhasználók megjelenítéséhez kattintson a "Megnyitás" gombra.</p>
                    <button type="submit">Megnyitás</button>
                </form>
            {% endif %}
        </div>

    </div>
</body>
</html>