<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Samba users</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>Rendszer felhasználók</th>
        </tr>
        {% for i in sysusers %}
            <tr>
                <td>
                    {{i}}
                </td>
            </tr>
        {% endfor %}
    </table>

    <table border="1">
        <tr>
            <th>Samba felhasználók</th>
        </tr>
        {% for i in sambausers %}
            <tr>
                <td>
                    {{i}}
                </td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>