<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{url_for('static', filename='scripts/samba_users_javascript.js')}}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/sidebar_style.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/samba_users_style.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/shared_style.css') }}" />
    <title>Samba users</title>
</head>
<body>

    <div class="flex_site">
        <div class="sidebar">
            {% include 'shared/sidebar.html' %}
        </div>
        <div class="main_site">
            <div class="sys-user-flex-div">
                <div class="sys_users">
                    <table>
                        <tr class="table-title">
                            <th>Rendszer felhasználók</th>
                            <th>Hozzáadás</th>
                        </tr>
                        {% for i in sysusers %}
                        <tr>
                            <td>
                                {{i}}
                            </td>
                            <td>
                                <button class="add-samba-user-button" onclick="toggleTextboxes()" value="{{i}}">Hozzáadás</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="hidden-form-user">
                    <p id="displayElement"></p>
                    <form id="addsambauserForm" action="/service/add" method="post">
                        <input type="hidden" name="form_id" value="add-samba-user">
                    
                        <input type="password" class="hidden-textbox" name="password1" placeholder="Jelszó megadása" required><br>
                        <input type="password" class="hidden-textbox" name="password2" placeholder="Jelszó ismétlése" required><br>
                        <input type="submit" id="submit-button" value="Küldés">
                        <input type="hidden" name="username" id="hidden-input-user">
                    </form>
                </div>
            </div>
            <div class="samba-users">
                <form id="removesambauserForm" action="/service/modify" method="post">
                    <input type="hidden" name="form_id" value="remove-samba-user">
                    <table>
                        <tr class="table-title">
                            <th>Samba felhasználók</th>
                            <th>Eltávolítás</th>
                        </tr>
                        {% for i in sambausers %}
                            <tr>
                                <td>
                                    {{i}}
                                </td>
                                <td>
                                    <button type="submit" name="remove-user-samba-button" id="removeusersamba{{ i }}Button" value="{{i}}">Eltávolítás</button>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </form>
            </div>
            
            <h2>Rendszer felhasználó létrehozása</h2>
            <p>A rendszerben létrehozott felhasználók is megjelennek és használhatók.</p>
            <p>Az itt létrehozott felhasználó tulajdonságai:</p>
            <ul>
                <li>A nevén kívül más információ nem lesz eltárolva a felhasználóról</li>
                <li>A users csoport (id: 100) tagja lesz</li>
                <li>Rendelkezni fog home könyvtárral</li>
                <li>Nem lesz jelszava</li>
                <li>A bejelentkezés le lesz tiltva a létrehozott felhasználóval</li>
                <li>Alapértelmezetten nem lesz hozzárendelve a samba-hoz</li>
                
            </ul>

            <br>
            <p>Új felhasználó hozzáadása:</p>
            <form id="addsystemuserForm" action="/service/add" method="post">
                <input type="hidden" name="form_id" value="add-system-user">
                <input type="text" name="system-user" placeholder="Új felhasználó neve" pattern="[a-zA-Z0-9\-\.]*" required>
                <button type="submit">Küldés</button>
            </form>
        </div>
        
        
    </div>

</body>
</html>









