<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/ftp_style.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/sidebar_style.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/shared_style.css') }}" />
    <title>FTP</title>
</head>
<body>
    <div class="flex_site">
        <div class="sidebar">
            {% include 'shared/sidebar.html' %}
        </div>

        <div class="main_site">
            
            {% if status == 156 %}
                <p>Az FTP kiszolgáló nincs telepítve.</p>
                <form id="installftpForm" action="/service/install" method="post">
                    <input type="hidden" name="form_id" value="ftp">
                    <input type="submit" value="Telepítés">
                </form>
            {% else %}
                <p>A FTP kiszolgáló telepítve van.</p>
                <form action="/service/remove" method="post">
                    <input type="hidden" name="form_id" value="ftp">

                    <p>Az eltávolításhoz kattintson az "Eltávolítás" gombra!</p>

                    <button type="submit">Eltávolítás</button>
                </form>

                {% if status == 157 %}
                    <p>A FTP kiszolgáló státusza: Aktív</p>
                {% else %}
                    {% if status == 158 %}
                        <p>A FTP kiszolgáló státusza: Inaktív</p>
                    {% else %}
                        {% if status == 159 %}
                            <p>A FTP kiszolgáló státusza: Hiba</p>
                        {% else %}
                            <p>A FTP kiszolgáló státusza: Ismeretlen</p>
                        {% endif %}
                    {% endif %}
                {% endif %}


                {% if status == 157 %}
                    <form action="/service/status" method="post">
                        <input type="hidden" name="form_id" value="ftp">
    
                        <input type="radio" id="restart" name="startstop" value="restart">
                        <label for="restart">Újraindítás</label><br>
        
                        <input type="radio" id="stop" name="startstop" value="stop">
                        <label for="stop">Leállítás</label><br>
    
                        <button type="submit">Küldés</button>
                    </form>
                {% else %}
                    <form action="/service/status" method="post">
                        <input type="hidden" name="form_id" value="ftp">
    
                        <input type="radio" id="restart" name="startstop" value="restart">
                        <label for="restart">Újraindítás</label><br>
        
                        <button type="submit">Küldés</button>
                    </form>
                {% endif %}
                <h1>Konfiguráció</h1>
                
                <h3>Globális beállítások</h3>
                <table>
                    <tr class="table-title">
                        <th>Listen IPv4</th>
                        <th>Listen IPv6</th>
                        <th>Local user enable</th>
                        <th>Message enable</th>
                        <th>Write enable</th>
                        <th>Force dot files</th>
                        <th>Hide IDs</th>
                        <th>Max client / IP</th>
                        <th>Max clients</th>
                    </tr>
                    <tr>
                        <td>{{ globalconfig[0] }}</td>
                        <td>{{ globalconfig[1] }}</td>
                        <td>{{ globalconfig[2] }}</td>
                        <td>{{ globalconfig[3] }}</td>
                        <td>{{ globalconfig[4] }}</td>
                        <td>{{ globalconfig[5] }}</td>
                        <td>{{ globalconfig[6] }}</td>
                        <td>{{ globalconfig[7] }}</td>
                        <td>{{ globalconfig[8] }}</td>
                        
                    </tr>
                </table>

                <h3>Anonymous megosztás beállítások</h3>
                <table>
                    <tr class="table-title">
                        <th>Anonymous enable</th>
                        <th>Anonim upload enable</th>
                        <th>Anonim mkdir enable</th>
                        <th>Anonim other write enable</th>
                        <th>Anonim world readonly</th>
                    </tr>
                    <tr>
                        <td>{{ globalconfig[9] }}</td>
                        <td>{{ globalconfig[10] }}</td>
                        <td>{{ globalconfig[11] }}</td>
                        <td>{{ globalconfig[12] }}</td>
                        <td>{{ globalconfig[13] }}</td>


                    </tr>
                </table>
                <form action="/service/modify" method="post">
                    <input type="hidden" name="form_id" value="ftp-global-modify-redirect">
                    <button type="submit">Módosítás</button>
                </form>
                <h2>Felhasználók kezelése</h2>
                <form id="modifyftpusersForm" action="/ftp/users" method="post">
                    <p>A felhasználók megjelenítéséhez kattintson a "Megnyitás" gombra.</p>
                    <button type="submit">Megnyitás</button>
                </form>
            {% endif %}
</body>
</html>