.nfs_site {
    display: flex;
    height: 100%;
    position: relative;
}

.main_site {
    margin-left: 160px;
    padding: 0px 10px;
  }

body {
    background-color: #3c3c3c;
    color: white;
}


table, th, td {
    border: 1px solid white;
    text-align: center;
    border-collapse: collapse;
  }

.table-share-name{
      background-color: coral;
      text-color: white;
  }

.delete-button{
    width: 100%

  }

.hidden {
    display: none;
}