.sys-user-flex-div{
    display: flex;
    height: 100%;
    position: relative;
}

.hidden-form-user{
    margin-left: 100px;
    padding: 0px 10px;
}

.hidden-textbox{
    display: none;
}

#submit-button{
    display: none;
}