.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}


.sidenav img{
  height: 100px;
  width: 100px;
}


.sidenav_space {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidenav_space p{
  font-size: 20px;
}

#no_padding_a{
  padding: 0px;
  text-align: center;
}
.sidenav img {
  display: block;
  margin: 0 auto;
}