<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/shared_style.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/sidebar_style.css') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statikus hoszt módosítása</title>
</head>
<body>
    <div class="flex_site">
        <div class="sidebar">
        {% include 'shared/sidebar.html' %}
        </div>
        <div class="main_site">
    <form id="modifystatichostForm" action="/service/modify" method="post">
        <input type="hidden" name="form_id" value="static-host-modify">

        <h1>Hoszt módosítása</h1><br>
        <h2>Hoszt neve: {{ configarray[0] }}</h2>
        <input type="hidden" value="{{ configarray[0] }}" id="static-host-name" name="static-host-name" pattern="[a-zA-Z0-9\-\.]*" required>
        <br>

        <label for="static-host-mac">MAC cím:</label><br>
        <input type="text" value="{{ configarray[1] }}" id="static-host-mac" name="static-host-mac" pattern=([0-9A-Fa-f]{2}[:]){5}([0-9A-Fa-f]{2}) required>
        <br>

        <label for="static-host-address">IP cím:</label><br>
        <input type="text" value="{{ configarray[2] }}" id="static-host-address" name="static-host-address" pattern="[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}" required>
        <br>
        


        <input type="submit" value="Küldés">
    </div>
</div> 
</body>
</html>