<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/sidebar_style.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/shared_style.css') }}" />
    <title>Megosztás módosítás</title>
</head>
<body>
    <div class="flex_site">
        <div class="sidebar">
            {% include 'shared/sidebar.html' %}
        </div>

        <div class="main_site">
    <form id="modifynfsshareForm" action="/service/modify" method="post">
        <input type="hidden" name="form_id" value="nfs-share-modify">

        <h1>Megosztás módosítása</h1>
        <p>Megosztás neve: {{ configarray[0] }}</p>
        <input type="hidden" value="{{ configarray[0] }}" id="nfs-share-name" name="nfs-share-name" required>
        <p>Megosztott mappa: {{ configarray[1] }}</p>
        <input type="hidden" value="{{ configarray[1] }}" id="nfs-share-dir" name="nfs-share-dir" required>
        <p>Mappa jogosultsága: <input type="text" value="{{ configarray[2] }}" id="dirperm" name="dirperm" pattern="[0-7][0-7][0-7]" required></p>
        {% set saveindex = [] %}
        {% set counter = [0] %}
        <table>
            <tr class="table-title">
                <th>Elérheti</th>
                <th colspan="4">Szabályok</th>
            </tr>
        {% for i in configarray %}
            
            
            {% if loop.index != 1 and loop.index != 2 and loop.index != 3 %}
                
                {% if (loop.index % 5) == 4 %}
                    <tr>
                    <td><input type="text" value="{{ i }}" id="access" name="access_{{i}}" required></td>
                    {% set _ = saveindex.append(loop.index0) %}

                {% endif %}
                {% if (loop.index % 5) == 0 %}
                    <td>
                    <input type="radio" id="rw_{{counter[-1]}}" name="permission_{{configarray[saveindex[-1]]}}" value="rw" {% if i == "rw" %} checked {% endif %}>
                    <label for="rw_{{counter[-1]}}">Írás, olvasás</label>
                    <br>
                    <input type="radio" id="ro_{{counter[-1]}}" name="permission_{{configarray[saveindex[-1]]}}" value="ro" {% if i == "ro" %} checked {% endif %}>
                    <label for="ro_{{counter[-1]}}">Csak olvasás</label>
                    <br>
                    </td>
                {% endif %}
                {% if (loop.index % 5) == 1 %}
                    <td>
                    <input type="radio" id="sync_{{counter[-1]}}" name="sync_{{configarray[saveindex[-1]]}}" value="sync" {% if i == "sync" %} checked {% endif %}>
                    <label for="sync_{{counter[-1]}}">sync</label>
                    <br>
                    <input type="radio" id="async_{{counter[-1]}}" name="sync_{{configarray[saveindex[-1]]}}" value="async" {% if i == "async" %} checked {% endif %}>
                    <label for="async_{{counter[-1]}}">async</label>
                    <br>
                    </td>
                {% endif %}
                {% if (loop.index % 5) == 2 %}
                    <td>
                    <input type="radio" id="squash_{{counter[-1]}}" name="squash_{{configarray[saveindex[-1]]}}" value="root_squash" {% if i == "root_squash" %} checked {% endif %}>
                    <label for="squash_{{counter[-1]}}">root squash</label>
                    <br>
                    <input type="radio" id="nosquash_{{counter[-1]}}" name="squash_{{configarray[saveindex[-1]]}}" value="no_root_squash" {% if i == "no_root_squash" %} checked {% endif %}>
                    <label for="nosquash_{{counter[-1]}}">no root squash</label>
                    <br>
                    </td>
                {% endif %}
               
                
                {% if (loop.index % 5) == 3 %}
                    <td>
                        <input type="radio" id="subtree_{{counter[-1]}}" name="subtree_{{configarray[saveindex[-1]]}}" value="subtree_check" {% if i == "subtree_check" %} checked {% endif %}>
                        <label for="subtree_{{counter[-1]}}">subtree check</label>
                        <br>
                        <input type="radio" id="nosubtree_{{counter[-1]}}" name="subtree_{{configarray[saveindex[-1]]}}" value="no_subtree_check" {% if i == "no_subtree_check" %} checked {% endif %}>
                        <label for="nosubtree_{{counter[-1]}}">no subtree check</label>
                        <br>
                    </td>
                    </tr>
                {% endif %}

            {% endif %}
            {% set _ = counter.append(counter[-1]+1) %}
        {% endfor %}
        
    </form> 
    </table>
    <button type="submit">Küldés</button>
</div>
</div>
</body>
</html>